body {
  background-image: url('img/welcome.jpg');
  color:#000305;
  font-size:87.5%;
  font-family: Arial, "lucida sans unicode";
  line-hight: 2.5;
  text-align: left;
}
a {
text-decoration:none
}
a:link, a:visited {
  color: #CF5C3F;
}
a:hover, a:active {
  background-color: #CF5C3F;
  color: #FFF;

}
.body {
  margin: 0 auto;
  width: 70% ;
  clear: both;
}
.mainHeader img {
  width:20%;
  height:auto;
  margin: 2% 0;
}
.mainHeader nav {
background-color: #666;
height: 40px;
border-radius: 5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
}
.mainHeader nav ul {
list-style: none;
margin: 0 auto;
 }
 .mainHeader nav ul li {
float: left;
display: inline;
}
.mainHeader nav ul li {
  color: #FFF;
  display: inline-block;
  padding: 10px 30px;
  height:  : 100 px;
}
.mainHeader nav a:hover, .mainHeader nav a:active,
.mainHeader nav .active a:link, .mainHeader nav .active a:visited {
background-color: #CF5C3F;
COLOR: #FFF;
 text-shadow: none;
 }

 .mainHeader nav ul li a {
 borde-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius:5px
}
.mainContent {
  lineheight: 25px
  borde-radius: 5px;
 -moz-border-radius: 5px;
 -webkit-border-radius:5px;
 overflow: hidden;
 float: left;
}
.content  {
width:70%;
float: left;
}
.topcontent {
background-color: #FFF;
borde-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius:5px;
padding: 3% 5%;
float: left;

}

.bottomcontent {
background-color: #006400;
borde-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius:5px;

}
.top-sidebar {
width 25%;
float: left;
background-color: #FFF;
-moz-border-radius: 5px;
-webkit-border-radius:5px;
margin-left: 3%;
margin-bottom: 2%;
padding:2% 3%;
}

.middle-sidebar {
width: 25%;
float:left;
background-color: #FFF;
-moz-border-radius: 5px;
-webkit-border-radius:5px;
margin-bottom: 2%;
padding:2% 3%;
 }
.bottom-sidebar {
width: 25%;
float: left;
background-color: #FFF;
-moz-border-radius: 5px;
-webkit-border-radius:5px;
margin-bottom: 2%;
padding:2% 3%;
}
mainFotter {
width:100%;
height: 40PX;
float:left;
border-radius:5px;
-moz-border-radius: 5px;
-webkit-border-radius:5px;
background-color: #666;
margin-top: 2%;
margin-bottom: 2% 0;
}
.mainFotter p {
width: 92%;
margin: 10% auto;
color: #FFF; }
}
@media only screen and (min-width: 150 px) and (max-width:600px)
{
}
.body {
  margin: 0 auto;
  width: 90% ;
  clear: both;
}
}
